form{
  width: 400px;
  height: 300px;
  margin: 150px auto 0px auto;
  border: 2px solid;
  border-color: #ABABAB;
  /* background-color: #C0B5E0; */
  background-color: #E4D6E8;
}

#div1{
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 60px;
}

#div2, #div3{
  margin-bottom: 20px;
  margin-left: 60px;
}

#div4{
  margin-left: 60px;
  margin-top: 40px;
}

select{
  height: 25px;
  width: 105px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ABABAB;
}

input{
  height: 20px;
  width: 105px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ABABAB;
} 

label{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input:focus, select:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}

